.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #282c34;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Charizard {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Bulbasaur {
    position: absolute;
    top: 0;
    right: 500px;
    background-color: rgb(43, 226, 134);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Wartortle {
    position: absolute;
    top: 0;
    right: 100px;
    background-color: rgb(33, 167, 191);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Pikachu {
    position: absolute;
    top: 0;
    right: 350px;
    background-color: rgb(238, 220, 54);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Lucario {
    position: absolute;
    bottom: 0;
    right: 700px;
    background-color: rgb(193, 25, 25);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    cursor: pointer;
}
.Rhydon {
    position: absolute;
    top: 0;
    right: 750px;
    background-color: rgb(146, 170, 174);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Eevee {
    position: absolute;
    top: 250px;
    bottom: 600px;
    right: 300px;
    background-color: rgb(160, 82, 45);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Jolteon {
    position: absolute;
    top: 350px;
    bottom: 0px;
    background-color: rgb(170, 167, 77);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Snorlax {
    position: absolute;
    bottom: 0;
    right: 200px;
    background-color: rgb(126, 128, 131);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    cursor: pointer;
}
.Garchomp {
    position: absolute;
    top: 345px;
    bottom: 0;
    left: 500px;
    background-color: rgb(3, 37, 126);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    cursor: pointer;
}
.Rattata {
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 150px;
    background-color: rgb(195, 177, 225);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Jigglypuff {
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 650px;
    background-color: rgb(255, 182, 193);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Venusaur {
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 450px;
    background-color: rgb(48, 213, 200);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.Nidoking {
    position: absolute;
    left: 300px;
    top: 450px;
    bottom: 200px;
    right: 600px;
    background-color: rgb(195, 177, 225);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.container {
    top: -105px;
    position: relative;
    border: 1px solid black;
    height: 700px;
    width: 1000px;
    overflow: hidden;
}
